input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;

  &:focus {
    outline-color: #16a085;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.q-field__label {
  right: 0 !important;
}

label.q-field .q-field__label {
  right: 0 !important;
  left: unset !important;
  transform: translateY(-40%) scale(0.75) translateX(33%) !important;
}

.q-field__bottom {
  text-align: right !important;
}
